
<div class="jumbotron">
	<div class="container">
			
			<h1 class="titulos" style="color:darkgreen" > BootCamp Colombia <br> <small style="font-size:25px">“Hay una fuerza motriz más poderosa que el vapor, la electricidad y la energía atómica: la voluntad.” .- Albert Einstein </small> </h1>
			<a href="http://en1mes.com" class="btn btn-default"> 
			<SPAN class="glyphicon glyphicon-pencil " style="font-size 20px; color:green"> </SPAN>
			Learn more
			</a>  
	</div>	
</div>

<div class="container">
	
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
		  		<h2 style="display:inline; color:slategray">¿Quienes somos? </h2>
		  		<span class="label label-default">New</span></h3>
			</div>
			<a href="http://en1mes.com" target="_blank"> En1Mes en otra pagina</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
			<h2 style=" color:slategray">¿Como formar parte? </h2>
			</div>
			<p class="titulos">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-md-4">
			<div class="page-header">
				<h2 style=" color:slategray">No te arrepentiras!!! </h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h6>Sub ... Subtítulo </h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<a href="http://en1mes.com">
				<img src="http://www.en1mes.com/assets/logo-79cc18afeb892865eb97c6b6641f7dc5.png"
				alt="logo de en 1 mes" class="img-responsive ">
			</a>
			<hr>
			<br>
			<ol>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ol>


			<img id="img2" src="http://cohidrex.es/images/Mapa_Sudam%C3%A9rica.jpg" class="img-responsive">
			
		</div>
	</div>
</div>







